<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        <%= htmlWebpackPlugin.options.title %> | StoryApp
    </title>
</head>

<body>
    <loading-spinner></loading-spinner>
    <header>
        <nav-bar brandName="<%= brandName %>"></nav-bar>
    </header>

    <main>
        <div class="custom-container">
            <div class="library">
                <header-title content="StoryApps!"></header-title>
                <locale-picker></locale-picker>
                <form class="row g-3" id="addRecordForm" novalidate>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <!-- <div class="col-md-12 mb-3">
                                    <label for="validationCustomRecordName" class="form-label">Name</label>
                                    <input-with-validation type="text" inputId="validationCustomRecordName"
                                        invalidFeedbackMessage="Wajib diisi" required></input-with-validation>
                                </div> -->
                                <!-- <div class="col-md-12 mb-3">
                                    <label for="validationCustomDate" class="form-label">Date</label>
                                    <input-group-with-validation type="datetime-local" inputId="validationCustomDate"
                                        inputGroupIcon="bi-calendar-event" invalidFeedbackMessage="Wajib diisi"
                                        validation required></input-group-with-validation>
                                </div> -->
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustomNotes" class="form-label">Story</label>
                                    <textarea-with-validation inputId="validationCustomNotes"
                                        invalidFeedbackMessage="Wajib diisi" required></textarea-with-validation>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustomEvidence" class="form-label">Photo</label>
                                    <input-image-with-preview inputId="validationCustomEvidence"
                                        invalidFeedbackMessage="Wajib diisi" required></input-image-with-preview>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-md-12 mb-3">
                                <button class="btn btn-softpurple" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <footer-app></footer-app>
    </main>

</body>

</html>